/************************
GENERAL
************************/

body {
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-sa {
  justify-content: space-around;
}

.flex-jc-center {
  justify-content: center;
}

.flex-jc-start {
  justify-content: flex-start;
}

.flex-ai-center {
  align-items: center;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

.flex5 {
  flex: 5;
}

.flex-auto {
  flex: auto;
}

.w90 {
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.list-clear {
  list-style-type: none;
  padding: 0;
}

.black {
  color: black;
}

.white-button {
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  display: inline-block;
}

.grey-button {
  color: grey;
  border: 3px solid grey;
  border-radius: 10px;
  padding: 10px 20px;
  display: inline-block;
}


/************************
HEADER
************************/

header {
  font-size: 0.80em;
  height: 110px;
  color: grey;
}

#logo {
  height: 48px;
  width: auto;
}


/************************
SECTION 1
************************/

#sec1 {
  height: 588px;
  width: 100%;
  background-image: url(img/Aspire-V-Nitro_overview_hero_large.jpg);
  background-size: cover;
  font-size: 0.75em;
  color: white;
}

#sec1-header {
  background-color: rgba(255, 255, 255, 0.5);
  height: 61px;
  color: grey;
}

#sec1-header div:first-child {
  height: 100%;
}

#sec1-main {
  height: 100%;
}

#sec1-subtitle {
  font-size: 3em;
}

#sec1-title {
  font-size: 5em;
}

#logo-win {
  height: 44px;
  width: 200px;
}

#logo-nvidia {
  height: 44px;
  width: 100px;
}


/************************
SECTION 2
************************/

#gallery {
  border-collapse: collapse;
}

#gallery tr+tr {
  border-top: 1px solid rgba(150, 150, 150, 0.2);
}

#gallery td {
  max-width: 300px;
}

#gallery td+td {
  border-left: 1px solid rgba(150, 150, 150, 0.2);
}

#gallery td img {
  width: 100%;
}

#gallery td {
  padding: 1.5em;
}


/************************
SECTION 3
************************/

#new-style {
  text-align: center;
  background-color: rgb(245, 245, 245);
}

#new-style .grey-button {
  font-size: .8em;
}

.new-h2 {
  color: rgb(73, 73, 73);
  padding-top: 1.5em;
  font-size: 2em;
}

.new-p {
  color: rgb(147, 147, 147);
  font-size: 1.3em;
}

.new-img {
  max-width: 100%;
}


/************************
SECTION 4
************************/

#new-experience {
  text-align: center;
}

#new-experience .grey-button {
  font-size: .8em;
}

#all-model {
  text-align: center;
  background-color: rgb(245, 245, 245);
  padding: 4em;
}


/************************
FOOTER
************************/

footer {
  color: rgb(176, 176, 176);
  font-size: .7em;
}

#footer-legal {
  background-color: rgb(97, 97, 97);
  padding: 40px 0;
}


/*********************/

#footer-main {
  background-color: rgb(66, 66, 66);
}

#footer-main h3 {
  color: white;
  margin: 3.5em 0 2em 0;
}

#footer-main input {
  background-color: rgb(97, 97, 97);
  border: 1px solid white;
  font-size: 1.3em;
  width: 40%;
  padding: 0 10px;
}

#button-footer {
  color: rgb(66, 66, 66);
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  display: inline-block;
  background-color: white;
  font-size: 1.3em;
  margin-left: 20px;
}

#confidentiality {
  text-decoration: underline;
}

#social div img {
  max-width: 30px;
  margin: 10px;
}


/********************/

#footer-brand {
  background-color: rgb(32, 32, 32);
  padding-top: 30px;
}

#footer-brand img {
  width: 100px;
}

#logo-blanc {
  width: 150px;
  margin: 0 auto;
  position: relative;
  top: -80px;
}
